<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    <h3>Write New Chat..</h3>
    <form method="POST" action="/chats">
        <input placeholder="who are you?" name="From"/>
        <br /> <br />
        <textarea name="msg">Write your message here..</textarea>
        <br /> <br />
        <input placeholder="add receiver" name="To">
        <br /> <br />
        <button>Create Chat</button>
    </form>
</body>
</html>